body {
    background-color: gainsboro;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: rgb(61, 146, 201);
}
a:hover,
a:focus {
    text-decoration: underline;
}

h3 {
    font-weight: 100;
}

/* LAYOUT CSS */
.pure-img-responsive {
    max-width: 100%;
    height: auto;
}

#layout {
    padding: 0;
}

.header {
    text-align: center;
    top: auto;
    margin: 3em auto;
}

.sidebar {
    background: #7a0019;
    color: #fff;
}

.brand-title,
.brand-tagline {
    margin: 0;
}
.brand-title {
    text-transform: uppercase;
}
.brand-tagline, a {
    font-weight: 300;
    color: #ffcc33;
}

.nav-list {
    margin: 0;
    padding: 0;
    list-style: none;
}
.nav-item {
    display: inline-block;
    *display: inline;
    zoom: 1;
}
.nav-item a {
    background: #ffcc33;
    border: 2px solid white;
    color: #5b0013;
    margin-top: 1em;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-size: 85%;
}
.nav-item a:hover,
.nav-item a:focus {
    border: 2px solid #900021;
    text-decoration: none;
}


@media (min-width: 48em) {
    .content {
        padding: 5em 5em 0;
        margin-left: 25%;
        text-align: center;
    }

    .header {
        margin: 80% 2em 0;
        text-align: right;
    }

    .sidebar {
        position: fixed;
        top: 0;
        bottom: 0; 
    }
}

/* form */
fieldset {
    display: grid;
    place-items: center;
}

/* to get input and label on same line */
.radiobtn {
    display:flex; 
    flex-direction: row; 
    justify-content: center; 
    align-items: center;
}

#textInput {
    visibility: hidden;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}